@font-face {
    font-family: jpfont;
    src: url("/fonts/JurassicPark.ttf");
    font-weight:400;
}

body {
background-image: url("/images/maxresdefault.jpg") no-repeat;
background-position: center;
}

.welcome{
font-family: "jpfont";
display: flex;
justify-content: center;
color: #E40B0B;
font-size: 85px;
}

.loginmessage{
font-family: "jpfont";
display: flex;
justify-content: center;
color: #E40B0B;
font-size:40px;
margin-top: 100px;
}

.loginbox{
display: flex;
justify-content: center;
colour: #FFFAFA;
margin-top: 5px;
}