body {
  background-color: #bec0c4;
  font-family: 'Roboto Mono', monospace;
  letter-spacing:0.01em;
}

.italic {
    font-style:italic;
}


/* HEADER STUFF */

h1.site_title, nav{
    display: inline-block
}

h1.site_title {
    margin-right:3em;
    font-size: 2.5em;
}


header {
  padding-top:0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 9em;
  border-bottom: dotted black 3px;
  margin-left: 1em;
  margin-right: 1em;
}

.nav_button {
    padding:1em;
    border: inset black 3px;
    height:100%;
    font-size: 1.5em;
    text-decoration:none;
    font-style:italic;
    margin:0px;
}

.login_bar {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:2em;
    padding-left:1.5em;
    font-size:0.8em;
}


/* TABLES */

table {
    background-color: #edf1f7;
    border: inset black 3px;
    border-collapse: collapse;
}

td, th {
    padding: 0.5em;
    border: solid black 1px;
    text-align: center;
}

th {
    background-color: #424344;
    color: #ededed;
    border-bottom: inset black 2px;
}

/* FLEX ITEMS */

.page_title {
    width: 100%;
    text-align: center;
}

.content {
    margin:2em;
    margin-top:0.5em;
    display:flex;

}

.flex_item_half_page {
    margin-left: 1em;
    margin-right: 1em;
    margin: auto;
    display:flex;
    flex-flow: column nowrap;
}

.flex_item{
    margin-bottom:5%;
    min-width: 400px;

}

.hidden {
    visibility: hidden;
}
