

body {
  background-color: #bec0c4;
  font-family: 'Roboto Mono', monospace;
  letter-spacing:0.01em;
}

.italic {
    font-style:italic;
}

input[type=submit] {
    cursor: pointer;
}

.big_button {
    height:27px;
    margin:0px;
    background-color: #FFAF70;
    border: groove 5px #edf1f7;
    text-align: center;
    font-size: 1em;
    padding:1em;
    cursor: pointer;
}

.big_green_button {
    height:27px;
    margin:0px;
    background-color: #004416;
    border: groove 5px #edf1f7;
    text-align: center;
    font-size: 1em;
    padding:1em;
    cursor: pointer;
}

.big_red_button {
    height:27px;
    margin:0px;
    background-color: red;
    border: groove 5px #edf1f7;
    text-align: center;
    font-size: 1em;
    padding:1em;
    cursor: pointer;
}

.small_button {
    background-color: #FFAF70;
    border: groove 5px #edf1f7;
    text-align: center;
    font-size: 1em;
    padding:1em;
    cursor: pointer;
}

a.big_button {
    text-decoration: none;
}

.button_row{
    display: flex;
    flex: row nowrap;
    align-items:center;
}

.submit_in_button {
    background-color: inherit;
    font: inherit;
    border: none;
}


/* HEADER STUFF */

h1.site_title, nav{
    display: inline-block
}

h1.site_title {
    margin-right:3em;
    font-size: 2.5em;
}


header {
  padding-top:0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 9em;
  border-bottom: dotted black 3px;
  margin-left: 1em;
  margin-right: 1em;
}

.nav_button {
    background-color: #FFAF70;
    display: inline-block;
    padding:1em;
    border: inset black 3px;
    height:100%;
    font-size: 1.5em;
    text-decoration:none;
    font-style:italic;
    margin:0px;
}

.login_bar {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:2em;
    padding-left:1.5em;
    font-size:0.8em;
}


/* TABLES */

table {
    background-color: #edf1f7;
    border: inset black 3px;
    border-collapse: collapse;
}

table.small_table {
    min-width: 500px;
}

td, th {
    padding: 0.5em;
    border: solid black 1px;
    text-align: center;
}

th {
    border-left: none;
    border-right: none;
    background-color: #424344;
    color: #ededed;
    border-bottom: inset black 2px;
}

.table_ACTION_button {
    background-color: #8e1111;
    padding:0px;
    border: inset lightgrey;
}

input[type=submit].submit_ACTION_button {
  width: 100%;
  border: none;
  background-color: inherit;
  font-size: 1em;
  font-weight: 600;
  font-style: italic;
  color: #e8e8e8;
}

.table_ACTION_button:hover, input[type=submit].submit_ACTION_button:hover{
    color: #e8e8e8;
    background-color: #595959;
}

.table_FEED_button {
    background-color: #82530e;
    padding:0px;
    border: inset lightgrey;
}

input[type=submit].submit_FEED_button {
  width: 100%;
  border: none;
  background-color: inherit;
  font-size: 1em;
  font-weight: 600;
  font-style: italic;
  color: #e8e8e8;
}

.table_FEED_button:hover, input[type=submit].submit_FEED_button:hover{
    color: #e8e8e8;
    background-color: #595959;
}

.table_OPEN_button {
    background-color: #004416;
    padding:0px;
    border: inset lightgrey;
}

input[type=submit].submit_OPEN_button {
  width: 100%;
  border: none;
  background-color: inherit;
  font-size: 1em;
  font-weight: 600;
  font-style: italic;
  color: #e8e8e8;
}

.table_OPEN_button:hover, input[type=submit].submit_OPEN_button:hover{
    color: #e8e8e8;
    background-color: #595959;
}


tr.ESCAPE, tr.ESCAPED {
    background-color: #ff4c4c;
    color: #e8e8e8;
}

tr.FEED, tr.HUNGRY {
    background-color: #f79d16;
    color: #e8e8e8;
}

td.messages_table {
    text-align: left;
    color: chartreuse;
    background-color: black;
    font-family: 'Cutive Mono', monospace;
    font-style: italic;
}

/* FLEX ITEMS */

.page_title {
    width: 100%;
    text-align: center;
}

.content {
    margin:2em;
    margin-top:0.5em;
    display:flex;

}

.flex_item_half_page {
    margin-left: 1em;
    margin-right: 1em;
    margin: auto;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
}

.flex_item{
    margin-bottom:5%;
    min-width: 400px;

}

.hidden {
    visibility: hidden;
}

/* LOGIN PAGE */
{
background: url(https://vignette.wikia.nocookie.net/jurassicpark/images/f/fe/Gate_Entrance_%282%29.JPG/revision/latest?cb=20121109061245) no-repeat;
background-size: cover;
background-position: 50% 50%;
background-attachment: fixed;
}

#nedry_button {
    background-color: red;
    color: white;
    border: solid black 2px;
}

form.column_form {
    display: flex;
    flex-flow: column nowrap;
    min-height: 15em;
    justify-content:space-evenly;
    align-items: center;
}

.form_field {
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: auto;
}

label{
    margin-bottom: 5px;
}

input[type=text] {
    max-width:150px;
}

