body {
  background-color: #bec0c4;
  font-family: 'Roboto Mono', monospace;
  letter-spacing:0.01em;
}


h1.site_title, nav{
    display: inline-block
}

h1.site_title {
    margin-right:3em;
    font-size: 2.5em;
}


header {
  padding-top:0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 9em;
  border-bottom: dotted black 3px;
  margin-left: 1em;
  margin-right: 1em;
}

.nav_button {
    padding:1em;
    border: inset black 3px;
    height:100%;
    font-size: 1.5em;
    text-decoration:none;
    font-style:italic;
    margin:0px;
}

.italic {
    font-style:italic;
}