<div class="loginpage">
    <div class="welcome">
        <h1>Welcome to Jurassic Park!</h1>
    </div>

    <div class="loginmessage">
        <h3>Please login to start your session.</h3>
    </div>

    <div class="loginbox">
        <form action="/login" method="post">
            <label for="username">Your name:</label>
                <input id="username" name="username" type="text">
                <button type="submit">Submit name</button>
        </form>
    </div>
</div>