<h1>Welcome to Jurassic Park!</h1>

<h3>Please login to start your session.</h3>

<form action="/login" method="post">
    <label for="username">Your name:</label>
    <input id="username" name="username" type="text">
    <button type="submit">Submit name</button>
</form>