    <h1>All Paddocks</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>DinoCount</th>
            <th>Secure</th>
        </tr>

        #foreach($paddock in $paddocks)


        <tr>
            <td>$paddock.getId()</td>
            <td>$paddock.getName()</td>
            <td>jim</td>
            <td>jim</td>
        </tr>
        #end

    </table>
